# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE - VSCode
backend/env
backend/__pycache__
backend/*.flaskenv
backend/flask_session
backend/*.db

src/util/hash.py
*.db
*.flaskenv
# Database files
coords.db
userbase.db
.flaskenv
start_db.sql
__pycache__/


TODO.md
.vercel
